table, td, tr, th {
	border : 1px solid black;
	border-collapse:collapse;
}

table {
	background-color : lightgray;
}

td {

}

tr {
}

th {
	pointer : pointer;
}

.hidden {
	display : none;
}

#show-hide-columns {
	position : absolute;
	top : 0;
	background : white;
	padding : 5px;
}

#show-hide-columns span{
	display : block;
}