table, td, tr, th {
	border : 1px solid gray;
	border-collapse:collapse;
}

table {
	background-color : lightgray;
	font-family : helvetica, arial, sans-serif;
	font-size : 12px;
}

td, th {
	padding : 3px;
}

td {

}

tr {
}

th {
	pointer : pointer;
}

.hidden {
	display : none;
}

#show-hide-columns {
	position : absolute;
	top : 0;
	background : white;
	padding : 5px;
}

#show-hide-columns span{
	display : block;
}